process {
    // defaults for all processes
    cpus   = { 1      * task.attempt }
    memory = { 6.GB   * task.attempt }
    time   = { 4.h    * task.attempt }

    // Process-specific resource requirements
    withName: 'ONT_BASECALL' {
        container = 'docker.io/library/nf--ont-methpro:dev'
        cpus   = { 2     * task.attempt }
        memory = { 12.GB * task.attempt }
        time   = { 4.h   * task.attempt }
    }
}