process {
    // defaults for all processes
    cpus = { 1 * task.attempt }
    memory = { 2.GB * task.attempt }
    time = { 4.h * task.attempt }

    // Process-specific resource requirements
    withName: ONT_BASECALL {
        container = 'ghcr.io/maurya-anand/nf-ont-methpro:dev'
        cpus = { 2 * task.attempt }
        memory = { 3.GB * task.attempt }
        time = { 4.h * task.attempt }
    }
}
